---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fc0b6cce0d639994d5a8d7341a0cacc778a84a05511f5cbdd71612e2349cd334"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo, repo_deployment
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4961'
      X-Ratelimit-Reset:
      - '1614952396'
      X-Ratelimit-Used:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/332733498","id":332733498,"node_id":"MDEwOkRlcGxveW1lbnQzMzI3MzM0OTg=","task":"deploy","original_environment":"production","environment":"production","description":null,"created_at":"2021-03-05T11:44:45Z","updated_at":"2021-03-05T13:13:25Z","statuses_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/332733498/statuses","repository_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>","creator":{"login":"danidoni","id":2650,"node_id":"MDQ6VXNlcjI2NTA=","avatar_url":"https://avatars.githubusercontent.com/u/2650?v=4","gravatar_id":"","url":"https://api.github.com/users/danidoni","html_url":"https://github.com/danidoni","followers_url":"https://api.github.com/users/danidoni/followers","following_url":"https://api.github.com/users/danidoni/following{/other_user}","gists_url":"https://api.github.com/users/danidoni/gists{/gist_id}","starred_url":"https://api.github.com/users/danidoni/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/danidoni/subscriptions","organizations_url":"https://api.github.com/users/danidoni/orgs","repos_url":"https://api.github.com/users/danidoni/repos","events_url":"https://api.github.com/users/danidoni/events{/privacy}","received_events_url":"https://api.github.com/users/danidoni/received_events","type":"User","site_admin":false},"sha":"9d81c13c9557e89a7b24d8426b9f1979e4fad726","ref":"main","payload":"{\"reason\":
        \"friday\"}","performed_via_github_app":null},{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/332730424","id":332730424,"node_id":"MDEwOkRlcGxveW1lbnQzMzI3MzA0MjQ=","task":"deploy","original_environment":"production","environment":"production","description":null,"created_at":"2021-03-05T11:34:59Z","updated_at":"2021-03-05T11:44:42Z","statuses_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/332730424/statuses","repository_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>","creator":{"login":[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/332733498
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2c494edf1c8bdf5f02628ce51695ce6e335d745cc8e052f27adec48aec93c152"
      Last-Modified:
      - Fri, 05 Mar 2021 13:13:25 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo, repo_deployment
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4959'
      X-Ratelimit-Reset:
      - '1614952396'
      X-Ratelimit-Used:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/332733498","id":332[...]
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/332733498/statuses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fe9bdd0b879e6f2579db89376a82b6e26d9dad46bd34d90c3a21f9a37a7ca5d1"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo, repo_deployment
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4958'
      X-Ratelimit-Reset:
      - '1614952396'
      X-Ratelimit-Used:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/332733498/statuses/492291786","id":492291786,"node_id":"MDE2OkRlcGxveW1lbnRTdGF0dXM0OTIyOTE3ODY=","state":"inactive","creator":{"login":"danidoni","id":2650,"node_id":"MDQ6VXNlcjI2NTA=","avatar_url":"https://avatars.githubusercontent.com/u/2650?v=4","gravatar_id":"","url":"https://api.github.com/users/danidoni","html_url":"https://github.com/danidoni","followers_url":"https://api.github.com/users/danidoni/followers","following_url":"https://api.github.com/users/danidoni/following{/other_user}","gists_url":"https://api.github.com/users/danidoni/gists{/gist_id}","starred_url":"https://api.github.com/users/danidoni/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/danidoni/subscriptions","organizations_url":"https://api.github.com/users/danidoni/orgs","repos_url":"https://api.github.com/users/danidoni/repos","events_url":"https://api.github.com/users/danidoni/events{/privacy}","received_events_url":"https://api.github.com/users/danidoni/received_events","type":"User","site_admin":false},"description":"","environment":"production","target_url":"","created_at":"2021-03-05T13:13:25Z","updated_at":"2021-03-05T13:13:25Z","deployment_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/332733498","repository_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>","performed_via_github_app":null},{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/332733498/statuses/492237831","id":492237831,"node_id":"MDE2OkRlcGxveW1lbnRTdGF0dXM0OTIyMzc4MzE=","state":"queued","creator":{"login":"danidoni","id":2650,"node_id":"MDQ6VXNlcjI2NTA=","avatar_url":"https://avatars.githubusercontent.com/u/2650?v=4","gravatar[...]
