---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments
    body:
      encoding: UTF-8
      string: '{"auto_merge":false,"ref":"main"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ab31a1081159f4d831539ad8b31341c548bdd390bab8897760d8e99dfa6ffc3d"'
      Last-Modified:
      - Fri, 26 Feb 2021 12:40:49 GMT
      X-Oauth-Scopes:
      - repo:status, repo_deployment
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329725079
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1614346042'
      X-Ratelimit-Used:
      - '5'
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329725079","id":329725079,"node_id":"MDEwOkRlcGxveW1lbnQzMjk3MjUwNzk=","task":"deploy","original_environment":"production","environment":"production","description":null,"created_at":"2021-02-26T12:40:49Z","updated_at":"2021-02-26T12:40:49Z","statuses_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329725079/statuses","repository_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>","creator":{"login":"krauselukas","id":22001671,"node_id":"MDQ6VXNlcjIyMDAxNjcx","avatar_url":"https://avatars.githubusercontent.com/u/22001671?v=4","gravatar_id":"","url":"https://api.github.com/users/krauselukas","html_url":"https://github.com/krauselukas","followers_url":"https://api.github.com/users/krauselukas/followers","following_url":"https://api.github.com/users/krauselukas/following{/other_user}","gists_url":"https://api.github.com/users/krauselukas/gists{/gist_id}","starred_url":"https://api.github.com/users/krauselukas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/krauselukas/subscriptions","organizations_url":"https://api.github.com/users/krauselukas/orgs","repos_url":"https://api.github.com/users/krauselukas/repos","events_url":"https://api.github.com/users/krauselukas/events{/privacy}","received_events_url":"https://api.github.com/users/krauselukas/received_events","type":"User","site_admin":false},"sha":"73b0f70c8f8420ef31b9bbaae9be0a720d4f9032","ref":"main","payload":{},"performed_via_github_app":null}'
  recorded_at: Fri, 26 Feb 2021 12:40:49 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329725079
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"73391fd5ab47bb530478cd67abf55ab57883001493139c2bba33034768c0887d"
      Last-Mo[...]
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329725079/statuses
    body:
      encoding: UTF-8
      string: '{"state":"success"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3b169174a94f653b84a2a884a10e0024fb2079d880dbf2423becbefcd710ea0b"'
      X-Oauth-Scopes:
      - repo:status, repo_deployment
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/<GITHU[...]
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"788c3d167e1099320902b74485d285974b6317fdd6475cc4a70fecb48dc1bb26"
      X-Oauth-Scopes:
      - repo:status, repo_deployment
      X-Accepted-Oauth-Scopes:
      - repo, repo_deployment
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/319667051/deployments?page=2>; rel="next",
        <https://api.github.com/repositories/319667051/deployments?page=2>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1614346042'
      X-Ratelimit-Used:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329725079","id":329725079,"node_id":[...]
[...]
