---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments
    body:
      encoding: UTF-8
      string: '{"auto_merge":false,"ref":"main"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fd7b233dec9c430812c3ad8e11916360766457622c89e5102577f382720e3dc8"'
      Last-Modified:
      - Mon, 08 Mar 2021 13:21:57 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333840293
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1615211603'
      X-Ratelimit-Used:
      - '44'
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333840293","id":333840293,"node_id":"MDEwOkRlcGxveW1lbnQzMzM4NDAyOTM=","task":"deploy","original_environment":"production","environment":"production","description":null,"created_at":"2021-03-08T13:21:57Z","updated_at":"2021-03-08T13:21:57Z","statuses_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333840293/statuses","repository_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>","creator":{"login":"danidoni","id":2650,"node_id":"MDQ6VXNlcjI2NTA=","avatar_url":"https://avatars.githubusercontent.com/u/2650?v=4","gravatar_id":"","url":"https://api.github.com/users/danidoni","html_url":"https://github.com/danidoni","followers_url":"https://api.github.com/users/danidoni/followers","following_url":"https://api.github.com/users/danidoni/following{/other_user}","gists_url":"https://api.github.com/users/danidoni/gists{/gist_id}","starred_url":"https://api.github.com/users/danidoni/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/danidoni/subscriptions","organizations_url":"https://api.github.com/users/danidoni/orgs","repos_url":"https://api.github.com/users/danidoni/repos","events_url":"https://api.github.com/users/danidoni/events{/privacy}","received_events_url":"https://api.github.com/users/danidoni/received_events","type":"User","site_admin":false},"sha":"9d81c13c9557e89a7b24d8426b9f1979e4fad726","ref":"main","payload":{},"performed_via_github_app":null}'
  recorded_at: Mon, 08 Mar 2021 13:22:20 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333840293
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"95e5636381e19c1c8ab641510454e15c38c7aad887a40fff5a5ae7f50ce51a87"
      Last-Mo[...]
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333840293/statuses
    body:
      encoding: UTF-8
      string: '{"state":"success"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f7d43a625a5306a6e62cf5318b32533bdd607f8739426f864143b2bd4c24764b"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/<GITHUB_REPOSITORY>/deplo[...]
[...]
