---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments
    body:
      encoding: UTF-8
      string: '{"auto_merge":false,"ref":"main"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"79735dc0aa5e72198eee165e836d529ff0573244ae7597467fcbd9d1fd68349e"'
      Last-Modified:
      - Fri, 26 Feb 2021 12:22:00 GMT
      X-Oauth-Scopes:
      - repo:status, repo_deployment
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329718801
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1614342314'
      X-Ratelimit-Used:
      - '17'
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329718801","id":329718801,"node_id":"MDEwOkRlcGxveW1lbnQzMjk3MTg4MDE=","task":"deploy","original_environment":"production","environment":"production","description":null,"created_at":"2021-02-26T12:22:00Z","updated_at":"2021-02-26T12:22:00Z","statuses_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329718801/statuses","repository_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>","creator":{"login":"krauselukas","id":22001671,"node_id":"MDQ6VXNlcjIyMDAxNjcx","avatar_url":"https://avatars.githubusercontent.com/u/22001671?v=4","gravatar_id":"","url":"https://api.github.com/users/krauselukas","html_url":"https://github.com/krauselukas","followers_url":"https://api.github.com/users/krauselukas/followers","following_url":"https://api.github.com/users/krauselukas/following{/other_user}","gists_url":"https://api.github.com/users/krauselukas/gists{/gist_id}","starred_url":"https://api.github.com/users/krauselukas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/krauselukas/subscriptions","organizations_url":"https://api.github.com/users/krauselukas/orgs","repos_url":"https://api.github.com/users/krauselukas/repos","events_url":"https://api.github.com/users/krauselukas/events{/privacy}","received_events_url":"https://api.github.com/users/krauselukas/received_events","type":"User","site_admin":false},"sha":"73b0f70c8f8420ef31b9bbaae9be0a720d4f9032","ref":"main","payload":{},"performed_via_github_app":null}'
  recorded_at: Fri, 26 Feb 2021 12:22:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3ec859ca5f652a7fb9989127daa1394584a942fc5f6d61f0c19708154500a418"
      X-Oauth-Scopes:
      - repo:status, repo_deployment
      X-Accepted-Oauth-Scopes:
      - repo, repo_deployment
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/319667051/deployments?page=2>; rel="next",
        <https://api.github.com/repositories/319667051/deployments?page=2>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1614342314'
      X-Ratelimit-Used:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329718801","id":329718801,"node_id"[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329718801
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"79735dc0aa5e72198eee165e836d529ff0573244ae7597467fcbd9d1fd68349e"
      Last-Mo[...]
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329718801/statuses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a302e540bec2a3afbdbe8bf5cfc8e368fb36d04f26167506bd7fa5143ff50e3e"'
      X-Oauth-Scopes:
      - repo:status, repo_deployment
      X-Accepted-Oauth-Scopes:
      - repo, repo_deployment
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1614342314'
      X-Ratelimit-Used:
      - '22'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 26 Feb 2021 12:22:01 GMT
recorded_with: VCR 6.0.0
