---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f8c77bdcba89716d2053d320adce92b0ff0b06169985d861eab03875e4438304"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo, repo_deployment
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4885'
      X-Ratelimit-Reset:
      - '1615055065'
      X-Ratelimit-Used:
      - '115'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333224647","id":333224647,"node_id":"MDEwOkRlcGxveW1lbnQzMzMyMjQ2NDc=","task":"deploy","original_environment":"production","environment":"production","description":null,"created_at":"2021-03-06T18:19:11Z","updated_at":"2021-03-06T18:19:12Z","statuses_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333224647/statuses","repository_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>","creator":{"login":"danidoni","id":2650,"node_id":"MDQ6VXNlcjI2NTA=","avatar_url":"https://avatars.githubusercontent.com/u/2650?v=4","gravatar_id":"","url":"https://api.github.com/users/danidoni","html_url":"https://github.com/danidoni","followers_url":"https://api.github.com/users/danidoni/followers","following_url":"https://api.github.com/users/danidoni/following{/other_user}","gists_url":"https://api.github.com/users/danidoni/gists{/gist_id}","starred_url":"https://api.github.com/users/danidoni/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/danidoni/subscriptions","organizations_url":"https://api.github.com/users/danidoni/orgs","repos_url":"https://api.github.com/users/danidoni/repos","events_url":"https://api.github.com/users/danidoni/events{/privacy}","received_events_url":"https://api.github.com/users/danidoni/received_events","type":"User","site_admin":false},"sha":"9d81c13c9557e89a7b24d8426b9f1979e4fad726","ref":"main","payload":{},"performed_via_github_app":null},{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333224180","id":333224180,"node_id":"MDEwOkRlcGxveW1lbnQzMzMyMjQxODA=","task":"deploy","original_environment":"production","environment":"production","description":null,"created_at":"2021-03-06T18:17:24Z","updated_at":"2021-03-06T18:19:02Z","statuses_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333224180/statuses","repository_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>","creator":{"login":[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333224647
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d4b6a456885163b6628b138a37cb426050b6916a1c96f0906b0a165d45dc372"
      Last-Modified:
      - Sat, 06 Mar 2021 18:19:12 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo, repo_deployment
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4883'
      X-Ratelimit-Reset:
      - '1615055065'
      X-Ratelimit-Used:
      - '117'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333224647","id":33[...]
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333224647/statuses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"36545ba3c490937af4b85ab392eb1ce45388d66c41132a396f62a5d54050c550"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo, repo_deployment
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4882'
      X-Ratelimit-Reset:
      - '1615055065'
      X-Ratelimit-Used:
      - '118'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333224647/statuses/492989627","id":492989627,"node_id":"MDE2OkRlcGxveW1lbnRTdGF0dXM0OTI5ODk2Mjc=","state":"queued","creator":{"login":"danidoni","id":2650,"node_id":"MDQ6VXNlcjI2NTA=","avatar_url":"https://avatars.githubusercontent.com/u/2650?v=4","gravatar_id":"","url":"https://api.github.com/users/danidoni","html_url":"https://github.com/danidoni","followers_url":"https://api.github.com/users/danidoni/followers","following_url":"https://api.github.com/users/danidoni/following{/other_user}","gists_url":"https://api.github.com/users/danidoni/gists{/gist_id}","starred_url":"https://api.github.com/users/danidoni/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/danidoni/subscriptions","organizations_url":"https://api.github.com/users/danidoni/orgs","repos_url":"https://api.github.com/users/danidoni/repos","events_url":"https://api.github.com/users/danidoni/events{/privacy}","received_events_url":"https://api.github.com/users/danidoni/received_events","type":"User","site_admin":false},"description":"friday","environment":"production","target_url":"","created_at":"2021-03-06T18:19:12Z","updated_at":"2021-03-06T18:19:12Z","deployment_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333224647","repository_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>","performed_via_github_app":null}]'
  recorded_at: Sat, 06 Mar 2021 18:19:50 GMT
recorded_with: VCR 6.0.0
