---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments
    body:
      encoding: UTF-8
      string: '{"auto_merge":false,"ref":"main"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"98b722bfa7b72e1a02f8c70c25eed15b87ecd72ab582490c09403026425f4c34"'
      Last-Modified:
      - Fri, 26 Feb 2021 12:22:04 GMT
      X-Oauth-Scopes:
      - repo:status, repo_deployment
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329718814
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1614342314'
      X-Ratelimit-Used:
      - '31'
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329718814","id":329718814,"node_id":"MDEwOkRlcGxveW1lbnQzMjk3MTg4MTQ=","task":"deploy","original_environment":"production","environment":"production","description":null,"created_at":"2021-02-26T12:22:04Z","updated_at":"2021-02-26T12:22:04Z","statuses_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329718814/statuses","repository_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>","creator":{"login":"krauselukas","id":22001671,"node_id":"MDQ6VXNlcjIyMDAxNjcx","avatar_url":"https://avatars.githubusercontent.com/u/22001671?v=4","gravatar_id":"","url":"https://api.github.com/users/krauselukas","html_url":"https://github.com/krauselukas","followers_url":"https://api.github.com/users/krauselukas/followers","following_url":"https://api.github.com/users/krauselukas/following{/other_user}","gists_url":"https://api.github.com/users/krauselukas/gists{/gist_id}","starred_url":"https://api.github.com/users/krauselukas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/krauselukas/subscriptions","organizations_url":"https://api.github.com/users/krauselukas/orgs","repos_url":"https://api.github.com/users/krauselukas/repos","events_url":"https://api.github.com/users/krauselukas/events{/privacy}","received_events_url":"https://api.github.com/users/krauselukas/received_events","type":"User","site_admin":false},"sha":"73b0f70c8f8420ef31b9bbaae9be0a720d4f9032","ref":"main","payload":{},"performed_via_github_app":null}'
  recorded_at: Fri, 26 Feb 2021 12:22:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329718814
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1410accfd6de1781e8a4d990d8bbcf04baa4f46210946c9ad7ac06e2a72552c1"
      Last-Mo[...]
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329718814/statuses
    body:
      encoding: UTF-8
      string: '{"state":"success"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"17e02d7bf03fee7d468487c9d1e305fe5ae046d9500857eac0d63a104c6c3c9e"'
      X-Oauth-Scopes:
      - repo:status, repo_deployment
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/<GITHU[...]
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0ba2e5191039a35c7658c02412a49b917e305a91c2291b0b74b11c51ea9b0616"
      X-Oauth-Scopes:
      - repo:status, repo_deployment
      X-Accepted-Oauth-Scopes:
      - repo, repo_deployment
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/319667051/deployments?page=2>; rel="next",
        <https://api.github.com/repositories/319667051/deployments?page=2>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1614342314'
      X-Ratelimit-Used:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329718814","id":329718814,"node_id"[...]
[...]
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments
    body:
      encoding: UTF-8
      string: '{"auto_merge":false,"payload":"{\"reason\": \"Wait for PR#12345\"}","ref":"main"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4a47eaacd9ea81ce4e6405dcbdf36ce0b6299a0d0492aa492dfac426f9ed0c52"'
      Last-Modified:
      - Fri, 26 Feb 2021 12:22:06 GMT
      X-Oauth-Scopes:
      - repo:status, repo_deployment
      X-Accept[...]
[...]
