---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments
    body:
      encoding: UTF-8
      string: '{"auto_merge":false,"ref":"main"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3e473736868bc4135ba53ae763d942d446a14c173ef0dc1fa72735f19218aca5"'
      Last-Modified:
      - Fri, 26 Feb 2021 12:40:52 GMT
      X-Oauth-Scopes:
      - repo:status, repo_deployment
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329725105
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1614346042'
      X-Ratelimit-Used:
      - '17'
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329725105","id":329725105,"node_id":"MDEwOkRlcGxveW1lbnQzMjk3MjUxMDU=","task":"deploy","original_environment":"production","environment":"production","description":null,"created_at":"2021-02-26T12:40:52Z","updated_at":"2021-02-26T12:40:52Z","statuses_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329725105/statuses","repository_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>","creator":{"login":"krauselukas","id":22001671,"node_id":"MDQ6VXNlcjIyMDAxNjcx","avatar_url":"https://avatars.githubusercontent.com/u/22001671?v=4","gravatar_id":"","url":"https://api.github.com/users/krauselukas","html_url":"https://github.com/krauselukas","followers_url":"https://api.github.com/users/krauselukas/followers","following_url":"https://api.github.com/users/krauselukas/following{/other_user}","gists_url":"https://api.github.com/users/krauselukas/gists{/gist_id}","starred_url":"https://api.github.com/users/krauselukas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/krauselukas/subscriptions","organizations_url":"https://api.github.com/users/krauselukas/orgs","repos_url":"https://api.github.com/users/krauselukas/repos","events_url":"https://api.github.com/users/krauselukas/events{/privacy}","received_events_url":"https://api.github.com/users/krauselukas/received_events","type":"User","site_admin":false},"sha":"73b0f70c8f8420ef31b9bbaae9be0a720d4f9032","ref":"main","payload":{},"performed_via_github_app":null}'
  recorded_at: Fri, 26 Feb 2021 12:40:52 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329725105
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6e3552685272372949ef9880e5835d81590df4c8ccabd088b2c20de19939d1e4"
      Last-Mo[...]
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329725105/statuses
    body:
      encoding: UTF-8
      string: '{"state":"queued"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6c5adb5ea0879e925df2845bace3707711e6f85fdc9fc4f67231a8dd6877a417"'
      X-Oauth-Scopes:
      - repo:status, repo_deployment
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/<GITHUB[...]
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0f968ab2f8efebb587969bf2f14d96e1ce5b75b1e807148db982f7af8e121b17"
      X-Oauth-Scopes:
      - repo:status, repo_deployment
      X-Accepted-Oauth-Scopes:
      - repo, repo_deployment
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/319667051/deployments?page=2>; rel="next",
        <https://api.github.com/repositories/319667051/deployments?page=3>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1614346042'
      X-Ratelimit-Used:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329725105","id":329725105,"node_id"[...]
[...]
