---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments
    body:
      encoding: UTF-8
      string: '{"auto_merge":false,"ref":"main"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4f1c1005ffa490c6d918ecfc14d7bed56f22d6d94c8b9828654251382b195fae"'
      Last-Modified:
      - Mon, 08 Mar 2021 13:22:01 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333840313
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4944'
      X-Ratelimit-Reset:
      - '1615211603'
      X-Ratelimit-Used:
      - '56'
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333840313","id":333840313,"node_id":"MDEwOkRlcGxveW1lbnQzMzM4NDAzMTM=","task":"deploy","original_environment":"production","environment":"production","description":null,"created_at":"2021-03-08T13:22:01Z","updated_at":"2021-03-08T13:22:01Z","statuses_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333840313/statuses","repository_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>","creator":{"login":"danidoni","id":2650,"node_id":"MDQ6VXNlcjI2NTA=","avatar_url":"https://avatars.githubusercontent.com/u/2650?v=4","gravatar_id":"","url":"https://api.github.com/users/danidoni","html_url":"https://github.com/danidoni","followers_url":"https://api.github.com/users/danidoni/followers","following_url":"https://api.github.com/users/danidoni/following{/other_user}","gists_url":"https://api.github.com/users/danidoni/gists{/gist_id}","starred_url":"https://api.github.com/users/danidoni/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/danidoni/subscriptions","organizations_url":"https://api.github.com/users/danidoni/orgs","repos_url":"https://api.github.com/users/danidoni/repos","events_url":"https://api.github.com/users/danidoni/events{/privacy}","received_events_url":"https://api.github.com/users/danidoni/received_events","type":"User","site_admin":false},"sha":"9d81c13c9557e89a7b24d8426b9f1979e4fad726","ref":"main","payload":{},"performed_via_github_app":null}'
  recorded_at: Mon, 08 Mar 2021 13:22:24 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333840313
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a348aac25cc8c8b46ff8ea22bf1866bd4dc08145d2d2cfa47be0603fe7c4fbb4"
      Last-Mo[...]
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333840313/statuses
    body:
      encoding: UTF-8
      string: '{"state":"queued"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ad266b39ce05a7dbebcf13bed3db64cadc100b17371102a3d4a4ac4bb50ca4a5"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/<GITHUB_REPOSITORY>/deploy[...]
[...]
