---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments
    body:
      encoding: UTF-8
      string: '{"auto_merge":false,"ref":"main"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a38ea34b651e90fe697dc868020efaf826b05278e45fb1ed6904d22fbb0f83b3"'
      Last-Modified:
      - Mon, 08 Mar 2021 13:21:06 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333839943
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1615211603'
      X-Ratelimit-Used:
      - '17'
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333839943","id":333839943,"node_id":"MDEwOkRlcGxveW1lbnQzMzM4Mzk5NDM=","task":"deploy","original_environment":"production","environment":"production","description":null,"created_at":"2021-03-08T13:21:06Z","updated_at":"2021-03-08T13:21:06Z","statuses_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333839943/statuses","repository_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>","creator":{"login":"danidoni","id":2650,"node_id":"MDQ6VXNlcjI2NTA=","avatar_url":"https://avatars.githubusercontent.com/u/2650?v=4","gravatar_id":"","url":"https://api.github.com/users/danidoni","html_url":"https://github.com/danidoni","followers_url":"https://api.github.com/users/danidoni/followers","following_url":"https://api.github.com/users/danidoni/following{/other_user}","gists_url":"https://api.github.com/users/danidoni/gists{/gist_id}","starred_url":"https://api.github.com/users/danidoni/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/danidoni/subscriptions","organizations_url":"https://api.github.com/users/danidoni/orgs","repos_url":"https://api.github.com/users/danidoni/repos","events_url":"https://api.github.com/users/danidoni/events{/privacy}","received_events_url":"https://api.github.com/users/danidoni/received_events","type":"User","site_admin":false},"sha":"9d81c13c9557e89a7b24d8426b9f1979e4fad726","ref":"main","payload":{},"performed_via_github_app":null}'
  recorded_at: Mon, 08 Mar 2021 13:21:30 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333839943
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b97beefba98698742595dd7587a282dab10a3953ebb304d476607bcf65c0b956"
      Last-Mo[...]
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/333839943/statuses
    body:
      encoding: UTF-8
      string: '{"state":"queued"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9b54b9ace4905ac35af0cc5081a0badfc4f420950dfbc62cfdf5000925c6ca75"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/<GITHUB_REPOSITORY>/deploy[...]
[...]
