---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments
    body:
      encoding: UTF-8
      string: '{"auto_merge":false,"ref":"main"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6c3fc3aa4cc24d347d040722f062e0548a8dbf21186e612f0c2316c5b0158113"'
      Last-Modified:
      - Fri, 26 Feb 2021 12:22:01 GMT
      X-Oauth-Scopes:
      - repo:status, repo_deployment
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329718804
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1614342314'
      X-Ratelimit-Used:
      - '23'
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329718804","id":329718804,"node_id":"MDEwOkRlcGxveW1lbnQzMjk3MTg4MDQ=","task":"deploy","original_environment":"production","environment":"production","description":null,"created_at":"2021-02-26T12:22:01Z","updated_at":"2021-02-26T12:22:01Z","statuses_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329718804/statuses","repository_url":"https://api.github.com/repos/<GITHUB_REPOSITORY>","creator":{"login":"krauselukas","id":22001671,"node_id":"MDQ6VXNlcjIyMDAxNjcx","avatar_url":"https://avatars.githubusercontent.com/u/22001671?v=4","gravatar_id":"","url":"https://api.github.com/users/krauselukas","html_url":"https://github.com/krauselukas","followers_url":"https://api.github.com/users/krauselukas/followers","following_url":"https://api.github.com/users/krauselukas/following{/other_user}","gists_url":"https://api.github.com/users/krauselukas/gists{/gist_id}","starred_url":"https://api.github.com/users/krauselukas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/krauselukas/subscriptions","organizations_url":"https://api.github.com/users/krauselukas/orgs","repos_url":"https://api.github.com/users/krauselukas/repos","events_url":"https://api.github.com/users/krauselukas/events{/privacy}","received_events_url":"https://api.github.com/users/krauselukas/received_events","type":"User","site_admin":false},"sha":"73b0f70c8f8420ef31b9bbaae9be0a720d4f9032","ref":"main","payload":{},"performed_via_github_app":null}'
  recorded_at: Fri, 26 Feb 2021 12:22:01 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329718804
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"38d36c36a9a93a22bc4bd043907313f9f4b32ae06bf814aaadcc390e41e1e0f3"
      Last-Mo[...]
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329718804/statuses
    body:
      encoding: UTF-8
      string: '{"state":"queued"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c19434a4a7654b0a16d8e67af4dac4e25bca9d43c7078f4210ed9d3c5a9cbca6"'
      X-Oauth-Scopes:
      - repo:status, repo_deployment
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/<GITHUB[...]
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"469a4a86dff95c5a6ad236eee5659dc8ee28331852b981cfc608d1f748234fb4"
      X-Oauth-Scopes:
      - repo:status, repo_deployment
      X-Accepted-Oauth-Scopes:
      - repo, repo_deployment
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/319667051/deployments?page=2>; rel="next",
        <https://api.github.com/repositories/319667051/deployments?page=2>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1614342314'
      X-Ratelimit-Used:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/<GITHUB_REPOSITORY>/deployments/329718804","id":329718804,"node_id"[...]
[...]
